.footer {
  margin-bottom: 50px;
  padding-top: 30px;
}

.footer__logo{
  margin-bottom: 32px;
}

.footer-container > img {
  margin-bottom: 30px;
}

.footer-inside-flex {
  display: flex;
  gap: 20px;
}

.left-footer {
  border-right: 1px solid #e3e3e3;
  width: 80%;

}

.left-footer-ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 50px;

  li{
    a{
      color: #333;

      &:hover{
        text-decoration: underline;
        color: #2f9ff8;
      }
    }
  }
}

.left-footer-ul > div > h4 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 32px;
}

.left-footer-ul > div > li {
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 400;
  list-style: none;
}

.right-footer {
  width:20%;
}

.right-footer > h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}

.right-footer > div {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.right-footer > div > i {
  font-size: 20px;
  margin-right: 10px;
}

.sub {
  margin-bottom: 40px;
  padding: 5px 40px;
  background-color: transparent;
  border: 1px solid #000;
  box-shadow: 0px 4px 6px -4px rgba(24, 39, 75, 0.12), 0px 8px 8px -4px rgba(24, 39, 75, 0.08);
  border-radius: 5px;
  transition: all 0.4s ease;

  &:hover{
    background-color: #2f9ff8;
    color: #fff;
    border-color: #2f9ff8;
  }
}

.follow-header {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 16px;
}

.links-flex {
  display: flex;
  align-items: center;
}

.links-flex > i {
  font-size: 20px;
  cursor: pointer;
}

.links-flex{
  border-bottom: 1px solid #ccc;
  padding-bottom: 30px;
}